{{#each posts}}
<div class="row mb-4 post">
  <div class="col-md-5">
    <h2>
      <a href="/post/{{id}}">{{title}}</a>
    </h2>
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{content}}
    </p>
        {{!-- <ul>
        {{#each comment as |c| }}
        <li>{{comment.content}}</li>
        <p>Created by {{c.user.name}} on {{format_date c.date_created}}</p>
        {{/each}}
      </ul> --}}
  </div>
</div>
{{/each}}