<div class="row mb-4 post">
  <div class="col-md-5">
    <h2>{{title}}</h2>
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
    <p>post no. <span id="post-id">{{id}}</span></p>
  </div>
  <div class="col-md-7">
    <p>
      {{content}}
    </p>
    <ul class="comment-list">
      {{#each this.comments as |c|}}
      {{!-- {{#each this.is_user as |current_user|}} --}}
        <li>{{c.content}}</li>
        <p>Created by {{commenter.name}} on {{format_date c.date_created}}</p>
        {{#if c.delete_access}}
        <button class="btn btn-sm btn-danger comment-delete visible" data-curr-user="{{this.current_user}}" data-creator="{{comment.user_id}}" data-id="{{c.id}}">Delete Comment</button>
        {{/if}}
      {{!-- {{/each}} --}}
      {{/each}}

    </ul>
    <form class="form new-comment-form">
      <div class="form-group">
        <label for="comment-content">Add comment:</label>
        <textarea
          class="form-input"
          id="comment-content"
          name="comment-content"
        ></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create comment</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/comment.js" type="text/javascript"></script>